.text-area {
	-fx-background-color: transparent;
	background-color: transparent;
	-fx-cursor: default;
	cursor: default;
}

.text-area .scroll-pane {
	-fx-background-color: transparent;
	background-color: transparent;
	-fx-cursor: default;
	cursor: default;
}

.text-area .scroll-pane .viewport {
	-fx-background-color: transparent;
	background-color: transparent;
	-fx-cursor: default;
	cursor: default;
}

.text-area .scroll-pane .content {
	-fx-background-color: transparent;
	background-color: transparent;
	-fx-cursor: default;
	cursor: default;
}

.white-btn {
	-fx-background-color: #ffffff;
	-fx-border-color: #a9a9a9;
	-fx-font-size: 13px;
}

.white-btn:hover {
	-fx-cursor: OPEN_HAND;
}

.red-btn {
	-fx-background-color: #c2313b;
	-fx-border-color: #c2313b;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 13px;
}

.red-btn:hover {
	-fx-cursor: OPEN_HAND;
}