/* File style.css */

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent gray transparent;
    -fx-font-size: 28px;
}

.text-field:focused {
    -fx-border-color: transparent transparent darkgray transparent;
}

.text-field:hover {
    -fx-cursor: TEXT;
}

.button {
    -fx-background-color: #ffffff;
    -fx-border-color: #a9a9a9;
}

.button:hover {
    -fx-cursor: OPEN_HAND;
}

.btn-danger {
    -fx-background-color: #c2313b;
    -fx-border-color: #c2313b;
    -fx-text-fill: #ffffff;
}

.btn-success {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #a9a9a9;
}

#start-box {
    -fx-border-color: transparent transparent gray transparent;
}

#dest-box {
    -fx-border-color: gray transparent transparent transparent;
}

.split-pane {
    -fx-background-color: #FCFCFC;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.menu-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #a9a9a9;
}

.menu-button:hover {
    -fx-cursor: OPEN_HAND;
}

.table-view {
    border-color: transparent;
    -fx-border-color: transparent;
    background-color: transparent;
    -fx-background-color: transparent;
}

.table-view:hover {
    -fx-cursor: OPEN_HAND;
}

