* {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4b6eaf;
	-fx-grey-color: #d97a7a;
	-fx-focus-color: -fx-secondary-color;
}

.loginBase {
	background-color: #fbf8f8;
	-fx-background-color: #fbf8f8;
}

.eye-btn {
	background-color: transparent;
	-fx-background-color: transparent;
	color: #2b2d42;
	-fx-color: #2b2d42;
}

.eye-btn:hover {
	-fx-cursor: hand;
}

.white-btn {
	background-color: #ffffff;
	-fx-background-color: #ffffff;
	border-color: #2b2d42;
	-fx-border-color: #2b2d42;
	border-width: 0.5px;
	-fx-border-width: 0.5px;
	border-radius: 1px;
	-fx-border-radius: 1px;
}

.white-btn:hover {
	-fx-cursor: hand;
}

.text-field {
	-fx-accent: -fx-primary-color;
	background-color: -fx-grey-color, white;
	-fx-background-color: -fx-grey-color, white;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
}
.text-field:focused {
	background-color: -fx-primary-color, white;
	-fx-background-color: -fx-primary-color, white;
}

.text-field:hover {
	-fx-cursor: TEXT;
}

#loginBorder {
	-fx-background-color: #fcfcfc;
}
