#Inherit {
	-fx-background-color: #c2313b;
	-fx-border-color: #000000;
}

#Inherit:hover {
	-fx-cursor: hand;
}

#mainSidepane {
	-fx-border-color: transparent, transparent, transparent #a9a9a9;
}

#chargerListPane {
	-fx-border-color: #a9a9a9;
}

#filters {
	-fx-background-color: #ffffff;
	-fx-border-color: #a9a9a9;
}

#filters:hover {
	-fx-cursor: hand;
}

.slider:hover {
	-fx-cursor: hand;
}

#executeSearch {
	-fx-background-color: #ffffff;
	-fx-border-color: #a9a9a9;
}

#executeSearch:hover {
	-fx-cursor: hand;
}

.text-field {
	-fx-background-color: #ffffff;
	-fx-border-color: #a9a9a9;
}

.text-field:hover {
	-fx-cursor: Text;
}
