.button {
    -fx-background-color: #FFFFFF;
}

.button:hover {
    -fx-cursor: hand;
}

.btn-grey {
    -fx-border-color: #a9a9a9;
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 13px;
}

.combo-box:hover {
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #FFFFFF;
}

.text-field:hover {
    -fx-cursor: TEXT;
}

#background {
    -fx-background-color: #FCFCFC;
    -fx-border-color: #a9a9a9;
}

#connectorBackground {
    -fx-background-color: #FCFCFC;
}

.Vbox {
    -fx-background-color: #FCFCFC;
    -fx-border-color: #a9a9a9;
}

.check-box {
    -fx-cursor: hand;
}