* {
	font-family: "SansSerif";
	-fx-font-family: "SansSerif";
	-fx-font-color: #2b2d42;
}

.root .scroll-bar:vertical .thumb {
	background-color: #ffffff;
	-fx-background-color: #ffffff;
}

.root .scroll-bar:horizontal .thumb {
	background-color: #ffffff;
	-fx-background-color: #ffffff;
}

.root .scroll-bar:vertical .track {
	background-color: #f5efef;
	-fx-background-color: #f5efef;
}

.root .scroll-bar:horizontal .track {
	background-color: #f5efef;
	-fx-background-color: #f5efef;
}

.root .scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
	color: #FCFCFC;
	-fx-color: #FCFCFC;
}

.root .scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button {
	color: #FCFCFC;
	-fx-color: #FCFCFC;
}

#menu-bar {
	background-color: #c2313b;
	-fx-background-color: #c2313b;
}

/* All butons on navbar */
.menu-bar-btn {
	background-color: #c2313b;
	-fx-background-color: #c2313b;
	font-size: 12px;
	-fx-font-size: 12px;
	-fx-color: #FCFCFC;
}

.menu-bar-btn:hover {
	-fx-text-fill: white;
	cursor: hand;
	-fx-cursor: hand;
	-fx-color: #FCFCFC;
}

#accountMenu {
	-fx-background-color: transparent;
}

#displayInfo {
	background-color: #d80032;
	-fx-background-color: #d80032;
}

/* REVOLT label */
#REVOLT {
	font-size: 25px;
	-fx-font-size: 25px;
	fill: white;
	-fx-fill: white;
}

#REVOLT:hover {
	cursor: hand;
	-fx-cursor: hand;
}

.split-pane-divider {
	cursor: default;
	-fx-cursor: default;
}

.split-pane {
	-fx-background-color: #FCFCFC;
}

.split-pane *.split-pane-divider {
	-fx-padding: 0 0 0 0;
}

#menuWindow {
	-fx-background-color: #FCFCFC;
}
