/* Adapted from dx.dragan.ba */

.table-view {
	-fx-background-color: #FFF8EB;
	-fx-border-color: transparent;
}

.table-view {
	border-color: transparent;
	-fx-border-color: transparent;
	background-color: transparent;
	-fx-background-color: transparent;
}

.table-view:hover {
	-fx-cursor: OPEN_HAND;
}

.table-view .placeholder .label {
	-fx-text-fill: red;
	padding:30px;
	-fx-padding: 30px;
}

.menu {
	-fx-font-size: 13px;
}

.check-box {
	-fx-font-size: 13px;
}

.slider {
	-fx-font-size: 13px;
}

.menu-item {
	-fx-font-size: 13px;
}

#searchCharger {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #a9a9a9;
}

#searchCharger:hover {
	-fx-cursor: TEXT;
}

.tableMenu {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #a9a9a9;
}

.tableMenu:hover {
	-fx-cursor: OPEN_HAND;
}

#update {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #a9a9a9;
}

#update:hover {
	-fx-cursor: OPEN_HAND;
}

