* {
	font-family: "SansSerif";
	-fx-font-family: "SansSerif";
	-fx-font-size: 14px;
	/* -fx-color: #ffffff; */
	/* -fx-background-color: #ffffff; */
	-fx-font-color: #2b2d42;
}

.root .scroll-bar:vertical .thumb {
	background-color: #ffffff;
	-fx-background-color: #ffffff;
}

.root .scroll-bar:horizontal .thumb {
	background-color: #ffffff;
	-fx-background-color: #ffffff;
}

.root .scroll-bar:vertical .track {
	background-color: #f5efef;
	-fx-background-color: #f5efef;
}

.root .scroll-bar:horizontal .track {
	background-color: #f5efef;
	-fx-background-color: #f5efef;
}

.root .scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
	color: white;
	-fx-color: white;
}

.root .scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button {
	color: white;
	-fx-color: white;
}

/* .text-area {
	-fx-background-color: transparent;
	background-color: transparent;
}

.text-area .scroll-pane {
	-fx-background-color: transparent;
	background-color: transparent;
}

.text-area .scroll-pane .viewport {
	-fx-background-color: transparent;
	background-color: transparent;
}

.text-area .scroll-pane .content {
	-fx-background-color: transparent;
	background-color: transparent;
} */

#filters,
#modChargers,
#columnEdit,
#update {
	background-color: #ffffff;
	-fx-background-color: #ffffff;
	border-color: #2b2d42;
	-fx-border-color: #2b2d42;
	border-width: 0.5px;
	-fx-border-width: 0.5px;
}

#filters:hover,
#modChargers:hover,
#columnEdit:hover,
#update:hover {
	background-color: #ffeff2;
	-fx-background-color: #ffeff2;
	border-color: #2b2d42;
	-fx-border-color: #2b2d42;
	border-width: 0.5px;
	-fx-border-width: 0.5px;
}

#menu-bar {
	background-color: #d80032;
	-fx-background-color: #d80032;
}

/* All butons on navbar */
.menu-bar-btn {
	background-color: #d80032;
	-fx-background-color: #d80032;
}

.menu-bar-btn:hover {
	font-size: 13px;
	-fx-font-size: 13px;
	-fx-text-fill: #ffd4dd;
	cursor: hand;
	-fx-cursor: hand;
	-fx-underline: true;
}

.reg-button {
	background-color: #ffffff;
	-fx-background-color: #ffffff;
	border-color: #2b2d42;
	-fx-border-color: #2b2d42;
	border-width: 0.5px;
	-fx-border-width: 0.5px;
}

.reg-button:hover {
	background-color: #ffeff2;
	-fx-background-color: #ffeff2;
	border-color: #2b2d42;
	-fx-border-color: #2b2d42;
	border-width: 0.5px;
	-fx-border-width: 0.5px;
}

.content:hover {
	background-color: #ffeff2;
	-fx-background-color: #ffeff2;
}

#displayInfo {
	background-color: #d80032;
	-fx-background-color: #d80032;
}

/* REVOLT label */
#REVOLT {
	font-size: 25px;
	-fx-font-size: 25px;
	fill: white;
	-fx-fill: white;
}

#REVOLT:hover {
	cursor: hand;
	-fx-cursor: hand;
}

/* #loginSignout {
	<font-weight>: 650;
} */

.split-pane-divider {
	cursor: default;
	-fx-cursor: default;
}
